*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  font-size: 62.5%;
}

.py-3 {
  position: relative;
}
.title {
  position: absolute;
  right: 1rem;
  z-index: 10;
  background-color: rgb(209, 184, 102);
  color: #fff;
  padding: .3rem;
  border-radius: .3rem;
 
}
.btn_div button{
  background-color: rgb(209, 184, 102);
  border: none;
  outline: none;
  padding: .2rem .3rem;
  text-transform: uppercase;
  color: #fff;
  border-radius: .3rem;
}


.content {
  width: 100%;
  height: 100%;

}
.price {
  display: flex;
  justify-content: space-between;
}

.btn_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
} 